:root {
    /* Primary colors */
  --clr-white: hsl(0, 0%, 100%);

    /* Slate shades */
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-500: hsl(216, 15%, 60%);
    --clr-slate-900: hsl(218, 44%, 22%);

    /* Shadow */
    --shadow-card: 0px 22px 28px hsl(211, 30%, 84%);
}

body {
    background-color: var(--clr-slate-300);
    font-size: 14.7px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--clr-white);
    padding: 16px;
    border-radius: 20px;
    max-width: 284px;
    margin: 45px auto 0;
    box-shadow: var(--shadow-card);
}

.q-container {
    margin: 0 auto;
    text-align: center;
}

.q-container img {
    display: block;
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.q-container h1 {
    width: 90%;   
    color: var(--clr-slate-900);   
    font-size: 1.37rem;
    font-weight: 650; 
    line-height: 1.2;
    margin: 24px auto 0;
}

.q-container p {
    width: 90%;   
    color: var(--clr-slate-500);
    font-weight: 380;
    font-size: 15.2px;
    line-height: 1.4;
    margin: 14px auto 23px;
}

footer {
    text-align: center;
    padding: 10px 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 430px) {    
    .container {
        margin: 0 auto;
        max-width: 290px;
    }    
}