:root {
    /* Primary colors */
  --clr-white: hsl(0, 0%, 100%);

    /* Slate shades */
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-500: hsl(216, 15%, 60%);
    --clr-slate-900: hsl(218, 44%, 22%);

    /* Shadows */
    --shadow-card: 0px 15px 20px rgb(208, 214, 220);
}

body {
    background-color: var(--clr-slate-300);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

.container {
    background-color: var(--clr-white);
    padding: 15px;
    border-radius: 20px;
    max-width: 300px;
    margin: 200px auto;
    box-shadow: var(--shadow-card);
}

.q-container img {
    display: block;
    border-radius: 10px;
    width: 295px;
    height: 295px;
    margin: 0 auto 15px;
}

.q-container h2,
.q-container p {
    width: 85%;    
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.q-container {
    margin-bottom: 20px;
}

h2 {
    color: var(--clr-slate-900);
}

p {
    color: var(--clr-slate-500);
    margin-bottom: 20px;
    font-weight: 350;
}